button {
	--bg: white;
	--fg: black;

	display: flex;
	align-items: center;
	justify-content: center;

	padding-inline: 1em;
	/* padding-block: 0.5em; */

	cursor: pointer;

	font-family: var(--font-main);
	text-transform: capitalize;
	line-height: 3;

	border-radius: 0.5em;
	border: 2px solid var(--bg);
	color: var(--fg);
	background-color: var(--bg);

	transition: background-color 200ms, border 200ms;
}

button:hover {
	--bg: hsl(0, 0%, 90%);
}

button:focus-visible,
button:target,
button:focus {
	outline: 2px dotted var(--bg);
	outline-offset: 2px;
}